@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

body {
    text-align: center;
    height: 100%;
    background-color: white;
    background-image: url('https://www.bareinternational.com/wp-content/uploads/2016/12/AdobeStock_127864317.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div {
    margin-top: 15px;
    margin-right: 7%;
    margin-left: 7%;
    text-align: center;
}

h1, h3, h4, p, td, tr {
    text-align: center;
    
}
h1 span { 
    font-size: 60px;
    font-weight: 800;
}
h3 span { 
    font-size: 20px;
}
h4 span { 
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
}

tbody {
    border: 1px solid black;
    color: black;
}

.table thead tr th {
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
} 

.table tbody tr td {
    text-align: center;
    vertical-align: middle;
} 

/*below block of css for change style when not active*/
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.active) {
    background: rgb(23, 155, 5)!important;
    color: white!important;
    font-weight: 800;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgb(3, 238, 109)!important;
    color: black!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: white!important;
    color: black!important;
}

.dataTables_wrapper.no-footer {
    background-color: red!important;
    color: white!important;
}

h1, p, a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

.header {
  width: 100%;
  padding:10px 0;
  text-align: center;
  background: green;
  color: white;
}


.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

.btn-bgstroke:hover {
  background-color: white;
  color: red;
}