@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

body {
    text-align: center;
    height: 100%;
    background-color: white;
    background-image: url('https://adoption.microsoft.com/files/microsoft-teams/custom-backgrounds-gallery/community/nature/community-nature-Teams-background-123.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div {
    margin-top: 15px;
    margin-right: 7%;
    margin-left: 7%;
    text-align: center;
}

h1, h3, h4, p, td, tr {
    text-align: center;
    
}
h1 span { 
    font-size: 60px;
    font-weight: 800;
}
h3 span { 
    font-size: 20px;
}
h4 span { 
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
}

tbody {
    border: 1px solid black;
    color: black;
}

.table thead tr th {
    background-color: rgb(43, 168, 240);
    color: white;
    text-align: center;
    vertical-align: middle;
} 

.table tbody tr td {
    text-align: center;
    vertical-align: middle;
} 

h1, p, a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

.header {
  width: 100%;
  padding:10px 0;
  text-align: center;
  background: rgb(43, 168, 240);
  color: white;
}


.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  background: rgb(255, 149, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

.btn-bgstroke:hover {
  background-color: white;
  color: rgb(255, 149, 0);
}