body {
    text-align: center;
    height: 100%;
    background-color: rgb(99, 208, 255);
    background-image: url('http://clipart-library.com/img/2026927.gif');
    background-size: cover;
    background-position: center;
}

div {
    margin-top: 15px;
    margin-right: 7%;
    margin-left: 7%;
    text-align: center;
}

h1, h3, h4, p, td {
    text-align: center;
}
h1 span { 
    /* background-color: white;  */
    font-size: 60px;
}
h3 span { 
    /* background-color: white; */
    font-size: 20px;
}
h4 span { 
    /* background-color: white; */
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
}
